{% include 'adminheader.html' %}
<section id="hero" class="hero d-flex align-items-center" style="height: auto">

    <div class="container">
      <div class="row">
              
                  <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
 <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="/static/assets/img/values-1.png" class="img-fluid" alt="" style="margin-right: -44em">

		<form method="post" style="margin-top: -19em">

        	<h1 style="color: black;margin-left: -2em">Reply</h1>

	<table class="table" style="width: 600px;">
		<tr>
			<th>reply</th>
			<td><input type="text" name="r" class="form-control"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" name="send" value="SEND" class="btn btn-success"></td>
		</tr>
	</table>

</center>
</form>
</div>
<!--           </div>
 -->        </div>
      </div>
    </div>
  </section><!-- End Hero -->
{% include 'footer.html' %}