{% include 'psychologistheader.html' %}

<section id="hero" class="hero d-flex align-items-center" style="height: auto">

    <div class="container">
      <div class="row">
              
                  <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
 <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="/static/assets/img/values-1.png" class="img-fluid" alt="" style="margin-right: -44em">



<center>
		<form method="post" style="margin-top: -19em">



		
		<h1 style="color: black">View Blog</h1>
		<table class="table" style="width: auto;color: black">
			<tr>
				<th>user Name</th>
				<th> file</th>
				<th> description</th>
				<th>date</th>
			</tr>
			{% for row in data['view']%}
			<tr>
				<td>{{row['firstname']}} {{row['lastname']}}</td>
				<td><img src="/{{row['file']}}"></td>
				
				<td>{{row['description']}}</td>
				<td>{{row['date']}}</td>
			</tr>
			{% endfor%}
		</table>

</form>
</center>
</div>
<!--           </div>
 -->        </div>
      </div>
    </div>
  </section><!-- End Hero -->

{% include 'footer.html' %}
